<% provide(:title, 'Home') %>

<div class="">

<h1><%=  image_tag("logo.png", alt: "Logo", height: '200', width: '200') %></h1>

	<% if !signed_in? %>
	<div class='row-fluid'>
		<div class='span6'>
		<h2> New here ? Sign-up !</h2>

		<p> Use one of your other account to connect to Maïa: </p>
		<%= link_to image_tag("fb_logo.png", alt: "Facebook"), "/auth/facebook", 
 								id: "sign_in" %>
  	<%= link_to image_tag("go_logo.png", alt: "Google"), "/auth/google_oauth2", 
  							id: "sign_in" %>
  	<p> Or create an account directly for Maïa: </p>
 		<%= link_to "Create Maïa account", signup_path, 
 																class: "btn btn-large btn-primary" %>
		</div>
		<div class='span6 sign_in'>
 		<h2> Already have an account ? Sign-in ! </h2>
 		<p> Connect with:
 		
 		<%= link_to image_tag("fb_logo.png", alt: "Facebook"), "/auth/facebook", 
 								id: "sign_in" %>
  	<%= link_to image_tag("go_logo.png", alt: "Google"), "/auth/google_oauth2", 
  							id: "sign_in" %></p>
  	
  	<%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
     <% end %>
   </div>
</div>
  <% end %>


<div class="accordion" id="accordion2">
<div class="accordion-group">
<div class="accordion-heading">
<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne" style="color: #000000">
What is Maïa ?
</a>
</div>
<div id="collapseOne" class="accordion-body collapse">
<div class="accordion-inner">
Maïa is a new kind of structured and collaborative web media. Its main goal is to allow users to
debate efficiently about a subject to answer to a difficult or polemical question.
</div>
</div>
</div>
<div class="accordion-group">
<div class="accordion-heading">
<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo" style="color: #000000">
What users and admin can gain using Maïa.
</a>
</div>
<div id="collapseTwo" class="accordion-body collapse">
<div class="accordion-inner">
Advantages for users : 
<ul type="square">
<li>Participate to debates/discussions</li>
<li>Participate to the evaluation of answers</li>
<li>Find an answer easily thanks to the debate synthesis</li>
<li>See the list of answers ranked by importance of the argument</li>
<li>See the credibility of other users on different subjects</li>
</ul>
Advantages for admin : 
<ul type="square">
<li>Administration and moderation easier</li>
</ul>
</div>
</div>
</div>
<div class="accordion-group">
<div class="accordion-heading">
<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree" style="color: #000000">
Philosophy of the project
</a>
</div>
<div id="collapseThree" class="accordion-body collapse">
<div class="accordion-inner">
<b>Why this project?</b>
</br>
We realized that there is, in most of the collaborative web media, a fall in the quality of contributions, and also a lack of visibility of relevant messages.
So our system is intended to permit efficient discussions and debates thanks to synthesization of the answers and the improvement of the visibility of ideas and arguments.
</div>
</div>
</div>
<div class="accordion-group">
<div class="accordion-heading">
<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour" style="color: #000000">
How to contribute ?
</a>
</div>
<div id="collapseFour" class="accordion-body collapse">
<div class="accordion-inner">
The Maïa project is a free and open source project.</br></br>
List of useful links: </br>
  <%= link_to "Github Link", "https://github.com/Zaurak/Maia", :target => "_blank" %> </br>
  <%= link_to "Documentation Link", "#", :target => "_blank" %>
</div>
</div>
</div>
</div>

</br>
  <%= render 'layouts/follow_buttons' %>

</div>
