<div id="form">
<%= simple_form_for :message, url: [:reply, conversation] do |f| %>
  <%= f.input :subject %>
  <%= f.input :body,  as: :text, :input_html => { :rows => 10 } %>
  <div class="form-actions">
  	<p>
  			You can use <%= link_to "Markdown", "https://wikipedia.org/wiki/Markdown",
                                target: "_blank" %>
  			to format your message !
  	</p>
    <%= f.button :submit, class: 'btn-primary' %>
    <%= submit_tag 'Cancel', type: :reset, class: 'btn btn-danger' %>
    <div class="pull-right">
    	<%= link_to "Back to maibox", conversations_path, class: "btn" %>
  </div>
<% end %>
</div>
