<%= simple_form_for :conversation, url: :conversations do |f| %>
  <%= f.input :recipients, 
  						:input_html => { 	value: '', 
  															class: 'tags_with_autocomplete', 
  															'data-autocompleteUrl' => autocomplete_user_name_users_path
  														} %>
  <%= f.input :subject %>
  <%= f.input :body,  as: :text, :input_html => { :rows => 10 } %>
  <div class="form-actions">
    <%= f.button :submit, class: 'btn-primary' %>
    <%= submit_tag 'Cancel', type: :reset, class: 'btn btn-danger' %>
  </div>
<% end %>
