<h1>
  <%= conversation.subject %>
</h1>



<div class="accordion" id="accordionMessage">
  <%= content_tag_for(:tr, conversation.receipts_for(current_user)) do |receipt| %>
    <% message = receipt.message %>
<% accordionMessage_id    = "accordionMessage"+message.id.to_s %>
<div class="accordion-group">
<div class="accordion-heading">
<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionMessage" href=<%= "#"+accordionMessage_id %> style="color: #000000">
      <%= message.subject %>
</a>
</div>
<div id=<%= accordionMessage_id %> class="accordion-body collapse">
<div class="accordion-inner">
<%= markdown message.body %>
</div>
</div>
</div>
  <% end %>
</div>

<%= render 'messages/form', conversation: conversation %>
