<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
<div class="span8" align=right>
  <%= render 'follow_form' if signed_in? %>  
  <%= button_to('Messaging', :conversations, :method => :get, class: "btn btn-large btn-warning") if signed_in? && current_user?(@user) %>
</div>
</div> 

<div class="container">
  <div class="row">
    <div class="span8">

<% if signed_in? && @user == current_user %>
  <ul class="nav nav-tabs" id="user_tab">
    <li class="active"><a href="#notification" data-toggle="tab">Notification</a></li>
    <li><a href="#information" data-toggle="tab">Information</a></li>
    <li><a href="#privileges" data-toggle="tab">Privileges</a></li>
    <li><a href="#credibility" data-toggle="tab">Credibility</a></li>
    <li><a href="#myDebates" data-toggle="tab">My debates</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active" id="notification"><%= render 'notification' %></div>
    <div class="tab-pane" id="information"><%= render 'edit' %></div>
    <div class="tab-pane" id="privileges"><%= render 'privileges' %></div>
    <div class="tab-pane" id="credibility">...</div>
    <div class="tab-pane" id="myDebates"><%= render 'debates' %></div>
  </div>
<% else %>
  <ul class="nav nav-tabs" id="user_tab">
    <li><a href="#privileges" data-toggle="tab">Privileges</a></li>
    <li><a href="#credibility" data-toggle="tab">Credibility</a></li>
    <li class="active"><a href="#myDebates" data-toggle="tab"><%= @user.name %>'s debates</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane" id="privileges"><%= render 'privileges' %></div>
    <div class="tab-pane" id="credibility">...</div>
    <div class="tab-pane active" id="myDebates"><%= render 'debates' %></div>
  </div>
<% end %>
    </div> 

  <script>
   $('#user_tab a').click(function (e) {
      e.preventDefault()
      $(this).tab('show')
      $('html, body').animate({scrollTop:0}, 100);
    });

    // store the currently selected tab in the hash value
    $("ul.nav-tabs > li > a").on("shown.bs.tab", function (e) {
        var id = $(e.target).attr("href").substr(1);
        window.location.hash = id;
    });

    $(function() {
      var submitted = $("#edit").data('preview');
      if (submitted == "true;"){
        window.location.hash = "#information";
      };
    });

    $(document).ready(function () { 
      $('html, body').animate({scrollTop:0}, 100); 
      // on load of the page: switch to the currently selected tab
      var hash = window.location.hash;
      $('#user_tab a[href="' + hash + '"]').tab('show');
    });

</script>

<div class="span3 offset1">
<% if signed_in? && @user == current_user %>
  <h1>Your relationships</h1>
 <% else %>
  <h1><%= @user.name %>'s contacts</h1>
<% end %>
<%= render 'contacts' %></div> 
  </div>
</div>
