<tr>
        <td>
<% contribution_id    = "justif"+objection.id.to_s+objection.class.name.split('::').last %>
<div class="accordion" id="accordionJustObj">
<div class="accordion-group">
<div class="accordion-heading">
<a class="accordion-toggle" data-toggle="collapse" data-parent="accordionJustObj" href=<%= "#"+contribution_id %> style="color: #000000">
Objection
</a>
</div>
<div id=<%= contribution_id %> class="accordion-body collapse">
<div class="accordion-inner">
<div class="row">
  <div class="span10">
    <%= objection.name %>
  </div>
  <div class="span3 pull-right">
    <%= render 'user', contribution: objection %>
   </div>
</div>
<div class="row">
<div class="span6 pull-right">
<button class="btn btn-large btn-primary pull-right" type="button" data-toggle="modal" data-target="#voteModal">Vote</button>
</div>
</div>
<%= render 'debates/contribute', contribution: objection %>