<div class="share-icons">
	<% 
		twitter_link  = "https://twitter.com/intent/tweet"
		twitter_link += "?text=ThisThis%20debate%20is%20worth%20a%20look:%20"
		twitter_link += "&url=https%3A%2F%2Fwww.google.com"

  	facebook_link  = "https://www.facebook.com/sharer/sharer.php?app_id=717137668318086&sdk=joey"
  	facebook_link += "&u=http%3A%2F%2Fwww.google.com%2F"
  	facebook_link += "&display=popup"

		google_plus_link  = "https://plus.google.com/share"
		google_plus_link += "?url=https%3A%2F%2Fwww.google.com"
  %>


  <a href=<%= twitter_link %> >
  	<%= image_tag("tw_icon.png", alt: "Share on Twitter") %>
  </a>

  <a 	href=<%= facebook_link %> 
  		onclick="javascript:window.open(this.href, 
			'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');
			return false;" >
  	<%= image_tag("fb_icon.png", alt: "Share on Facebook") %>
  </a>
	
	<a 	href=<%= google_plus_link %>
			onclick="javascript:window.open(this.href, 
			'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');
			return false;" >
			<img src="https://www.gstatic.com/images/icons/gplus-16.png" alt="Share on Google+"/>
	</a>

</div>