<!-- Modal window-->
<div class="modal hide fade" id="answerModal" tabindex="-1" role="dialog" aria-labelledby="answerModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h1 class="modal-title" id="answerModalLabel">New answer</h1>
      </div>
      <div class="modal-body">
<p>On debate : <b><%= @debate.description %></b></p>
<br/>

<div class="control-group">
    <!--<label class="control-label" for="textarea">Answer: </label>
    <div class="controls">
        <textarea id="textarea" rows="2"></textarea>
    </div>-->
    <%= simple_form_for(:answer, url: answers_path) do |f| %>
      <%= f.input :content, as: :text, :input_html => { :rows => 3 } %>
      <%= f.hidden_field :debate_id, value: @debate.id %>
</div>

Improved answer (*):
<div class="accordion" id="accordion1">
<div class="accordion-group">
<div class="accordion-heading">
<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne" style="color: #000000">
<b>List of previous Answers</b>
</a>
</div>
<div id="collapseOne" class="accordion-body collapse">
<div class="accordion-inner">
<table class="table">
   <tr>
        <td><input type="checkbox" class="checkbox"/> Quam ob rem id primum videamus, si placet, quatenus amor in amicitia progredi debeat.</td>
   </tr>
   <tr>
        <td><input type="checkbox" class="checkbox"/> Quam ob rem id primum videamus, si placet, quatenus amor in amicitia progredi debeat.</td>
   </tr>
   <tr>
        <td><input type="checkbox" class="checkbox"/> Quam ob rem id primum videamus, si placet, quatenus amor in amicitia progredi debeat.</td>
   </tr>
</table>
</div>
</div>
</div>
</div>

Solved objections (*):
<div class="accordion" id="accordion2">
<div class="accordion-group">
<div class="accordion-heading">
<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo" style="color: #000000">
<b>List of previous Objections</b>
</a>
</div>
<div id="collapseTwo" class="accordion-body collapse">
<div class="accordion-inner">
<table class="table">
   <tr>
        <td><input type="checkbox" class="checkbox"/> Quam ob rem id primum videamus, si placet, quatenus amor in amicitia progredi debeat.</td>
   </tr>
   <tr>
        <td><input type="checkbox" class="checkbox"/> Quam ob rem id primum videamus, si placet, quatenus amor in amicitia progredi debeat.</td>
   </tr>
   <tr>
        <td><input type="checkbox" class="checkbox"/> Quam ob rem id primum videamus, si placet, quatenus amor in amicitia progredi debeat.</td>
   </tr>
</table>
</div>
</div>
</div>
</div>

    </div>
      <div class="modal-footer">
        <%= f.button :submit, class: 'btn btn-primary' %>
        <% end %>
        <button type="button" class="btn btn default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
