<!-- Modal -->
<div class="modal fade hide" id="createModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">New Debate</h4>
      </div>
      <div class="modal-body">
        <% provide(:title, 'New Debate') %>
   		  <%= form_for(@debate) do |f| %>
      	  <%= f.label :description %>
      	  <%= f.text_field :description %>
        <div class="row">
        
          <table>
            <tr>
              <td>
                <div class="span3">
                  <p> Presetted tags: </p>
                <div class="panel panel-primary">
                <table class="table">
                <% @tags.each do |tag|%>
                <tr>
                  <td><input type="checkbox" class="checkbox"/>    <%= tag%></td>
                </tr>
                <% end %>

                </table>
                </div>
                </div>     
              </td>
          </tr>
        </table>
        
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <%= f.submit "New Debate", class: "btn btn-primary" %>
    <% end %>

      </div>
    </div>
  </div>
</div>
<!--end Modal-->