<!-- Modal windows-->
<%= render 'debates/vote_modal' %>
<%= render 'debates/answer_modal' %>
<%= render 'debates/objection_modal' %>
<%= render 'debates/justification_modal' %>
<%= render 'debates/tag_modal' %>

<% provide(:title, @debate.description) %>

<h1>
  <%= @debate.description %>
</h1>
<div class="row" >
    <div class="pull-right">
        <%= render 'shared/share_buttons', url: debate_url(@debate) %>
    </div>
</div>

<div class="row">
<div class="span6">
Debate started the <b><%= @debate.created_at.strftime("%Y/%m/%d ") %></b> at <b><%= @debate.created_at.strftime("%I:%M%p") %></b> by <b><%= @debate.user.name %></b>
</div>
<div class="span6">
<button class="btn btn-large btn-primary pull-right" type="button" data-toggle="modal" data-target="#voteModal">Vote</button>
</div>
</div>

</br>

<div class="accordion" id="myaccordion">
<div class="accordion-group">
<div class="accordion-heading">
<a class="accordion-toggle" data-toggle="collapse" data-parent="#myaccordion" href="#collapse1" style="color: #000000">
<b>Synthesis</b>
</a>
</div>
<div id="collapse1" class="accordion-body collapse">
<div class="accordion-inner">
<%= render 'synthesis' %>
</div>
</div>
</div>
<div class="accordion-group">
<div class="accordion-heading">
<a class="accordion-toggle" data-toggle="collapse" data-parent="#myaccordion" href="#collapse2" style="color: #000000">
<b>About this debate</b>
</a>
</div>
<div id="collapse2" class="accordion-body collapse">
<div class="accordion-inner">
<%= render 'about' %>
</div>
</div>
</div>
<div class="accordion-group">
<div class="accordion-heading">
<a class="accordion-toggle" data-toggle="collapse" data-parent="#myaccordion" href="#collapse3" style="color: #000000">
<b>Full debate</b>
</a>
</div>
<div id="collapse3" class="accordion-body collapse in">
<div class="accordion-inner">
<div>
<%= render 'fullDebate' %>
</div>
</div>
</div>
</div>

</div>

<script>
$(function(){
    $("#ok").on('click', function(){
        if($("select[name=option]").val()=="Objection"){
    		$('#objectionModal').modal('show')
            return false;   
        }
		if($("select[name=option]").val()=="Justification"){
    		$('#justificationModal').modal('show')
            return false;   
        }
		if($("select[name=option]").val()=="Tag"){
    		$('#tagModal').modal('show')
            return false;   
        }
    });
});
</script>
